# Python virtual environment
/venv/

# IDE files
.idea/
.vscode/

# Python cache
__pycache__/
*.pyc

# Elasticsearch data (from docker-compose)
/es_data/

# Local data files
/data/
*.csv
*.json
data

# Windows thumbnails
Thumbs.db