# --- Web Framework & API ---
Django>=5.0,<6.0
djangorestframework>=3.14.0
# Pour gérer les CORS headers si ton front est séparé (optionnel mais conseillé)
django-cors-headers>=4.3.0

# --- Elasticsearch (Compatible v8.11.0) ---
# Le client officiel bas niveau
elasticsearch>=8.11.0,<9.0.0
# L'ORM haut niveau (très pratique pour les objets Python)
elasticsearch-dsl>=8.0.0,<9.0.0

# --- Data Science & Offline Processing (Indexation) ---
requests>=2.31.0
pandas>=2.1.0
networkx>=3.2.1
nltk>=3.8.1
numpy>=1.26.0